html, body, #svg-container, #ground-svg-container {
    background-color: black;
    margin: 0; padding: 0; height: 100%; width: 100%;
    overflow: hidden;
    user-select: none;
    -webkit-user-drag: none;
    touch-action: none;
    display: flex;
    font-family: ui-monospace, "Cascadia Mono", monospace
}

#svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    width: 100vw;
}

#ground-svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 0%;
    background-color: black;
}

.back-button {
  border: none;
  background-color: #303030;
  font-size: 16px;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 8px;
}

.back-button:hover {
  background-color: #292929;
}

.back-icon {
  width: 20px;
  height: 20px;
}

#side-display {
    background-color: black;
    height: 100vh;
    width: auto;
    display: flex;;
    align-items: center;
    justify-content: center;
    z-index: 1;
    gap: 10px;
}

.sidebar-button {
    background-color: #303030;
    color: #fff;
    border: none;
    height: 30px;
    cursor: pointer;
    font-family: ui-monospace, "Cascadia Mono", monospace;
    border-radius: 8px;
    display: none;
}

.sidebar-button:hover {
    background-color: #292929;
}

#resizer {
    background-color: #333333;
    border: none;
    padding: 0px;
    height: 100vh;
    width: auto;
    z-index: 1;
}

svg {
    display: block;
    overflow: visible;
    width: 100%;
    height: 100%;
    touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
}

#top-bar {
    position: absolute;
    top: 3vh;
    left: 5vw;
    right: 5vw;
    background: #222;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    gap: 5px;
    z-index: 10;
}

a {
    color: #fff;
    text-decoration: none;
}

#name {
    margin-left: 5px;
    margin-right: 20px;
}

.menu-button {
    background: #303030;
    color: #fff;
    border: none;
    height: 100%;

    cursor: pointer;
    font-family: ui-monospace, "Cascadia Mono", monospace;
    border-radius: 8px;
}

.menu-button:hover {
  background-color: #333333;
}

#airspace-bounds {
    background-color: #4d4d4d;
    border: 3px solid #4B5DA3;
    border-radius: 8px;
    padding: 1px;
    width: 65px;
    height: 40px;
    font-size: .7em;
}

#ground-aircraft {
    background-color: #4d4d4d;
    border: 3px solid #4B5DA3;
    border-radius: 8px;
    width: 65px;
    padding: 1px;
    height: 40px;
    font-size: .7em;
}

#display-button {
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 10px;
    left: 10px;
    z-index: 2;
}

.aircraft-label {
    color: white;
    position: absolute;
    width: 100px;
    height: 100px;
}

.time-display {
    display: flex;
    height: 100%;
    align-items: center;
    color: #fff;
    font-size: 1.2em;
    gap: 5px;
}

#time {
    padding: 2px;
    width: 90px;
    border: 3px solid #303030;
    border-radius: 3px;
}

#time-button {
    width: 60px;
    height: 100%;
    border: none;
    cursor: pointer;
    transition: background 0.2s;
    border-radius: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#airport-dropdown {
    background-color: #3e3e3e;
    color: #fff;
    font-family: ui-monospace, "Cascadia Mono", monospace;
    border: none;
    border-radius: 8px;
    padding: 6px 10px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    outline: none;
    appearance: none; /* Remove default styling in some browsers */
}

.dropdown-label {
    width: 58px;
    margin-left: 10px;
    font-size: .8em;
}

#ground-button {
    background-color: #3e3e3e;
    height: 40px;
    width: 65px;
}

#approch-button {
    background-color: #3e3e3e;
    height: 40px;
}

.overlay {
    position: fixed;
    display: none;
    bottom: 20px;
    right: 20px;
    width: 200px;
    height: auto;
    background: #222222;
    border: 3px solid #333333;
    outline: 5px solid #222222;
    border-radius: 5px;
    padding: 5px;
    z-index: 9999;
    color: white;
}

#close-icon {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
}

#callsign-container {
    display: flex;
    width: 90%;
    height: auto;
    align-items: center;
    gap: 5px;
}

#aircraft-tag {
    font-size: .6em;
    background-color: #333333;
    padding: 2px;
    padding-inline: 5px;
    border-radius: 5px;
}

#player-name {
    display: flex;
    width: 90%;
    height: 15px;
    align-items: center;
    font-size: .6em;
    margin-bottom: 4px;
}

#aircraft-image {
    background-color: rgb(5, 5, 5);
    height: 112.50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
}

#route-container {
    height: 60px;
    display: flex;
}

.route {
    background-color: rgb(22, 22, 22);
    width: 50%;
    border-right: 2px solid #222222;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.4em;
    border-radius: 5px;
}

.airport-name {
    font-size: .4em;
}

#arival {
    border-left: 2px solid #222222;
    border-right: none;
}

#detailed-info-container {
    height: auto;
    margin-top: 4px;
    font-size: .7em;
    display: flex;
}

#detailed-info {
    height: auto;
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#plane-icon-container {
    width: 30px;
    height: 30px;
    left: 90px;
    top: 175px;
    position: absolute;
}

#details-spacer {
    width: 10px;
    background-color: rgb(22, 22, 22);
    border-right: 2px solid rgb(22, 22, 22);
    margin-right: 5px;
    height: 100px;
    border-radius: 5px;
}

#station-info {
    margin-left: auto;
    width: 70px;
    font-size: 14px;
}

#station-type {
    font-size: .8em;
    background-color: #222222;
    color: #fff;
    font-family: ui-monospace, "Cascadia Mono", monospace;
    border: none;
    width: 0px;
    cursor: pointer;
    text-align: left;
}
