html, body, #svg-container {
    margin: 0; padding: 0; height: 100%; width: 100%;
    overflow: hidden;
    user-select: none;
    -webkit-user-drag: none;
    touch-action: none;
    font-family: ui-monospace, "Cascadia Mono", monospace
}
#svg-container {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    display: block;       /* removes inline gap */
    overflow: visible;
    width: 100vw;
    height: 100vh;
    touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
}

#plane-icon {
    position: relative;
    cx: 0;
    cy: 0;
    r: 20;
    fill: blue;
    cursor: pointer;
    left: 100px;
}

#top-bar {
    background: #222;
    color: #fff;
    height: 80px;
    display: flex;
    align-items: center;

}

.menu-button {
    background: #303030;
    color: #fff;
    border: none;
    height: 100%;
    padding: 6px 12px;
    cursor: pointer;
    font-family: ui-monospace, "Cascadia Mono", monospace
}

.menu-button:active {
  background-color: #4d4d4d;
}

#airspace-bounds {
    background-color: #4d4d4d;
    border-bottom:  3px solid rgb(99, 99, 99);
    border-right: 3px solid rgb(99, 99, 99);
    border-top: 3px solid rgb(56, 56, 56);
    border-left: 3px solid rgb(56, 56, 56);
}

.time-display {
    display: flex;
    height: 100%;
    align-items: center;
    color: #fff;
    font-size: 1.2em;
}

#time {
    margin: 8px;
    padding: 2px;
    width: 90px;
    border: 3px solid #303030;
    border-radius: 3px;
}

#time-button {
    width: 60px;
    height: 100%;
    border: none;
    cursor: pointer;
    transition: background 0.2s;
}

#airspace-bounds {
    width: 90px;
}